<div class="sidebar">
  <ul>
    <li><a href="#">Administrators</a></li>
    <li><a href="#">Admin Settings</a></li>
  </ul>
</div>
<div class="administrations">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Phone</th>
        <th>Email</th>
        <th>CNIC</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Username</td>
        <td>Police</td>
        <td>03555-</td>
        <td>someone@</td>
        <td>71401-</td>
      </tr>
      <tr>
        <td>Username</td>
        <td>Police</td>
        <td>03555-</td>
        <td>someone@</td>
        <td>71401-</td>
      </tr>
      <tr>
        <td>Username</td>
        <td>Police</td>
        <td>03555-</td>
        <td>someone@</td>
        <td>71401-</td>
      </tr>
      <tr>
        <td>Username</td>
        <td>Police</td>
        <td>03555-</td>
        <td>someone@</td>
        <td>71401-</td>
      </tr>
      <tr>
        <td>Username</td>
        <td>Police</td>
        <td>03555-</td>
        <td>someone@</td>
        <td>71401-</td>
      </tr>
      <tr>
        <td>Username</td>
        <td>Police</td>
        <td>03555-</td>
        <td>someone@</td>
        <td>71401-</td>
      </tr>
      <tr>
        <td>Username</td>
        <td>Police</td>
        <td>03555-</td>
        <td>someone@</td>
        <td>71401-</td>
      </tr>
      <tr>
        <td>Username</td>
        <td>Police</td>
        <td>03555-</td>
        <td>someone@</td>
        <td>71401-</td>
      </tr>
      <tr>
        <td>Username</td>
        <td>Police</td>
        <td>03555-</td>
        <td>someone@</td>
        <td>71401-</td>
      </tr>
      <tr>
        <td>Username</td>
        <td>Police</td>
        <td>03555-</td>
        <td>someone@</td>
        <td>71401-</td>
      </tr>
    </tbody>
  </table>
</div>